#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

img {
  max-width: 100%;
  border-radius: 15px;
}

.dessert-img {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-to-cart {
  background-color: hsl(20, 50%, 98%);
  border-color: hsl(12, 20%, 44%);
  border-radius: 45px;
  color: hsl(14, 65%, 9%);
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1.425rem;
  transition: background-color 200ms;
  position: relative;
  top: -1.25rem;
}

.increase-or-decrease {
  color: hsl(20, 50%, 98%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.increase-or-decrease:hover {
  color: hsl(20, 50%, 98%);
}

.increase-or-decrease img {
  margin: 0 0.85rem;
}

.minus {
  height: 0.6em;
  width: 0.85em;
}

#dessert-details {
  width: 100%;
  text-align: left;
  padding-left: 1rem; /* optional */
}

.add-to-cart:hover {
  color: hsl(14, 86%, 42%);
  border-color: hsl(14, 86%, 42%);
}

.add-to-cart .cart-img {
  height: 1em;
  width: 1em;
  margin-right: 0.5rem;
}

#increment,
#decrement {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

h3,
h4 {
  font-weight: 600;
  margin: 0.2rem 0;
  font-size: 16px;
  color: hsl(14, 65%, 9%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.category {
  color: hsl(12, 20%, 44%);
  font-size: 15px;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

#your-cart {
  background-color: hsl(20, 50%, 98%);
  margin-top: 4rem;
  padding: 1rem;
  border: 2px solid hsl(20, 50%, 98%);
  border-radius: 10px;
}

#your-cart h2 {
  color: hsl(14, 86%, 42%);
}

#adding {
  text-align: center;
  font-weight: 600;
  color: hsl(12, 20%, 44%);
}

#adding p {
  margin-bottom: 1rem;
}

.cart-items {
  text-align: left;
  margin: 1rem 0;
}

.cart-item {
  border-bottom: 2px solid hsl(13, 31%, 94%);
}

.cart-item h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}

.cart-item-info, .lightbox-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lightbox-items-summary {
  background-color: hsl(13, 31%, 94%);
}

.cart-item-details {
  width: 100%;
}

.cart-item-details,
.item-quantity-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lightbox-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.lightbox-item-details .quantity-price {
  font-size: 14px;
}

.item-quantity {
  font-weight: 600;
  color: hsl(14, 86%, 42%);
}

.item-price {
  font-weight: 400;
}

.remove {
  margin-bottom: 1.5rem;
}

.remove-icon {
  background: none;
  border: 1.5px solid hsl(14, 25%, 72%);
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
}

.remove-icon:hover {
  border-color: hsl(14, 65%, 9%);
  filter: brightness(0) saturate(100%) invert(7%) sepia(10%) saturate(3833%)
    hue-rotate(330deg) brightness(101%) contrast(100%);
}

.order-total {
  display: block;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.total {
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  font-size: 24px;
}

.carbon-neutral {
  display: block;
  text-align: center;
  background-color: hsl(13, 31%, 94%);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
}

.carbon-neutral b {
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}

.quantity-price {
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}

.confirm-order {
  background-color: hsl(14, 86%, 42%);
  border: none;
  border-radius: 45px;
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding: 0.75rem 1.425rem;
  transition: background-color 200ms;
  width: 100%;
  margin-top: 1rem;
  font-size: 14px;
}

.confirm-order:hover {
  background-color: hsl(14, 84%, 29%);
}

/* Lightbox overlay */
.overlay {
  display: none; /* Hidden by default */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.overlay.visible {
  display: flex;
}

.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateZ(0); /* Creates a new stacking context */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 25px;
  background: white;
  z-index: 1000;
  height: fit-content;
}

.lightbox h2 {
  color: hsl(14, 65%, 9%);
}

.lightbox p {
  font-size: 12px;
}

.lightbox.visible {
  display: block;
}

.confirmed-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 0.5rem;
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .app-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  /* Items takes up the remaining space with flex: 1 */
  .app-container > div:first-child {
    flex: 1;
  }

  .app-container #your-cart {
    width: 350px;
    height: fit-content;
    margin-top: 0;
  }

  .carbon-neutral {
    font-size: 16px;
  }

  .lightbox {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}
