#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

img {
  max-width: 100%;
  border-radius: 15px;
}

.dessert-img {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-to-cart {
  background-color: hsl(20, 50%, 98%);
  border-color: hsl(12, 20%, 44%);
  border-radius: 45px;
  color: hsl(14, 65%, 9%);
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1.425rem;
  transition: background-color 200ms;
  max-width: fit-content;
  position: relative;
  top: -1.25rem;
}

#dessert-details {
  width: 100%;
  text-align: left;
  padding-left: 1rem; /* optional */
}

.add-to-cart:hover {
  color: hsl(14, 86%, 42%);
  border-color: hsl(14, 86%, 42%);
}

.add-to-cart img {
  margin-right: 0.5rem;
  height: 0.85em;
}

h3,
h4 {
  font-weight: 600;
  margin: 0.2rem 0;
  font-size: 16px;
  color: hsl(14, 65%, 9%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.category {
  color: hsl(12, 20%, 44%);
  font-size: 15px;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

#your-cart {
  background-color: hsl(20, 50%, 98%);
  margin-top: 4rem;
  padding: 1rem;
  border: 2px solid hsl(20, 50%, 98%);
  border-radius: 10px;
}

#your-cart h2 {
  color: hsl(14, 86%, 42%);
}

#adding {
  text-align: center;
  font-weight: 600;
  color: hsl(12, 20%, 44%);
}

#adding p {
  margin-bottom: 1rem;
}

.cart-items {
  text-align: left;
  margin: 1rem 0;
}

.cart-item {
  border-bottom: 2px solid hsl(13, 31%, 94%);
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-quantity {
  font-weight: 600;
  color: hsl(14, 86%, 42%);
}

.item-price {
  font-weight: 400;
}

.remove {
  margin-bottom: 1.5rem;
}

.remove-icon {
  background: none;
  border: 1.5px solid hsl(14, 25%, 72%);
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  font-size: 24px;
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .app-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  /* Items takes up the remaining space with flex: 1 */
  .app-container > div:first-child {
    flex: 1;
  }

  .app-container #your-cart {
    width: 350px;
    height: fit-content;
    margin-top: 0;
  }
}
